*{
    margin: 0;
    text-decoration: none;
    list-style: none;
}


/* Desging of the nav bar */
.nav{
    border-bottom: 2px solid;
    max-width: 100%;
    background-color: #004E87;
    max-height: auto;
    display: flex;
    box-shadow: 0px 15px 10px -15px #004E87;   
    z-index: 10;
    /* position: fixed; */
    top:0;
    
}

/* Design of the name of the site */
.name-section{
    /* background-color: aqua; */
    width: 30%;
    height: 100%;
    user-select: none;
}

.name-section p{
        font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 2em;
        color: #ffffff;
        padding-left: 10px;
        line-height: 100px;
}
.name-section p:hover{
    color: aqua;
}


/* Design of the links the page */
.link-section{
    width: 60%;
    height: 100%;
}

.menu{
    color: #ffffff;
    line-height: 100px;
    height: 100%;
}

.menu ul{
    text-align: right;
    margin-right: 10px;
}

.menu li{
    display: inline;
    margin-left: 20px;
    font-size: 1.2vmax;
}
.menu li a{
    display: inline;
    color: #ffffff;
}
.menu li a:hover{
    color: aqua;

}
.foco-active>a{
}

/* Design of the photo */
.photo-section{
    height: auto;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.photo-img{
    height: 70%;
    width: 55%;
    text-align: center;
    user-select: none;
}
.photo-img img{
    max-width:100%;
    max-height: 100%;
    border-radius: 100%;
    align-items: center;
    box-shadow: 0px 20px 10px -10px #ffffff;

}


/* DESIGN OF THE CONTENT THE PAGE */
.content{
    margin-top: 20px; 
}

.content-information{
    display: flex;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

.list-content{
    width: 30%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-list{
    width: 100%;
}

.menu-list>p{
    text-align: left;
    line-height: 50px;
    font-size: 23px;
    margin-bottom: 20px;
}

.menu-list>ul{
    line-height: 2.2;    
}

.menu-list>ul>li:hover{
    background-color: #004E87;
}

.menu-list>ul>li>a{
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: transform .10s ease-in-out color 0.2s;
}

.menu-list>ul>li>a>p{
    font-size: 1.0rem;
}

.menu-list>ul>li>a>p:hover{
    transform: translateX(15px); 
    color: #fdfdfd;    
}
.information{
    /* background-color: violet; */
    width: 65%;
}

.information {
    background-color: #ffffff;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 100%;
    border-left: 1px solid #000000;
  }
  
  .information h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    color: #004E87;
    margin-top: 20px;
  }

  .information p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: .9rem;
    color: #555;
    margin-top: 20px;
  }

.footer{
    margin-top: 50px;
    height: 400px;
    border-top: 2px solid;
    width: 100%;
    background-color: #004E87;
    display: flexbox;
    box-shadow: 0px -10px 110px -15px #004E87;   
    z-index: 10;
    top:0;
}
.footer-img{
   text-align: center;
   width: 100%;
   height: 50%;
}
.footer-img img{
   max-width: 10%;
   max-height: 80%;
   border-radius: 100%;
}
.footer-img p{
  
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5vmax;
        color: #ffffff;
       
 }

.info-nav{
    display: flex;
}

.social-media{
    width: 50%;
    height: 100%;
    text-align: center;
    user-select: none;
    line-height: 50px;
}

.social-media-img img{
   max-width: 40px;
   padding: 40px;
   line-height: 100px;
}

.titulo-infonav h2{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 1.2vmax;
    text-align: center;
 }

 
.navegation{
    line-height: 0;
}
 .navegation ul{
    list-style: circle;
    padding: 35px;
    color: #ffffff;
    line-height: 0;
 }

 .navegation li{
    list-style: circle;
    padding: 20px;
    color: #ffffff;
    text-align: left;
    margin-left: 20%;
 }
 .navegation ul>li>a>p:hover{
    color: aqua;
 }
 .navegation li>a>p{
    color: #ffffff;
    font-size: 1.1vmax;
    color: #ffffff;
    line-height: 1px;
 }

 .foco-active>a{
    color: aqua;
 }


 
/* MEDIA QUERY  */
@media (max-width: 1300px) {
    .nav {
        display: block;
        /* background-color: antiquewhite; */
       }
     
       .name-section {
         margin-bottom: 0px;
         text-align: center;
         width: 100%;
         /* background-color: blueviolet; */
       }
       .name-section p{
        font-size: 3em;
       }
     
       .link-section {
         background-color: aqua;
         width: 100%;
         margin-bottom: 0px;
         text-align: center;
       }
     
       .menu {
         display: block;
         text-align: center;
        line-height: 50px;
       }
     
       .menu ul {
         gap: 0px;
         text-align: center;
       }
       
       .menu ul>li>a{
        font-size: 1.2em;
        line-height: 2px;
        padding: 3px;
       }
       .photo-section {
         /* background-color: teal; */
         width: 100%;
         max-height: 200px;
         justify-content: center;
       }

       

       .photo-section img{
         max-width: 100%;
         max-height: 100px;
         justify-content: center;
       }
 
}

@media (max-width: 768px) {
    
    .menu ul>li>a{
        font-size: 1.2em;
        line-height: 10px;
        padding: 0px;
       }

    .name-section p{
        font-size: 2.5em;
    }
    .list-content{
        width: 10%;
        justify-content: left;
        padding: 0px;
        margin: 0;
    }
    .menu-list>ul>li>a>p:hover{
        transform: translateX(0px); 
        color: #fdfdfd;    
    }
    .content-information {
        gap: 0px;
        display: block;

    }
  
    .list-content {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .information {
      width: 100%;
      border: none;
      padding: 0px;
    }


        
    .footer{
        max-height: auto;
    }
    .footer-img{
        margin-bottom: 30px;
    }
    .footer-img img{
         max-width: 20%;
    }
    .footer-img p{
        font-size: 1.8em;
        color: #ffffff;
        
    }

    .social-media{
        width: 50%;
        height: 50%;
        text-align: center;
        user-select: none;
        line-height: 1px;
    }

    .social-media-img img{
        max-width: 30px;
        margin-top: 20px;
        padding: 10px;
        line-height: 10px;
    }

    .titulo-infonav h2{
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
        font-size: .8em;
        text-align: center;
    }


    .navegation ul{
        padding: 15px;
        height: auto;
    }

    .navegation li{
        padding: 15px;
        color: #ffffff;
        text-align: left;
        margin-left: 10%;

    }
    .navegation ul>li>a>p:hover{
        color: aqua;
        height: auto;

    }
    .navegation li>a>p{
        color: #ffffff;
        font-size: 1.1vmax;
        color: #ffffff;
        line-height: 1px;
    }

  }